.long-paragraph {
    word-wrap: break-word; /* or word-break: break-all; */
  }
  #content {
    overflow: hidden;
    height: 300px;
    width: 1200px;
    padding: 20px;
    margin: 20px;
    float: left;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
}

.long-paragraph {
    width: 900px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  